@media screen and (max-width: 768px) {
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .main-content {
    padding: 110px 5px 70px;
    position: relative;
  }

  .dashboard {
    position: relative;
    animation: animatemain;
    animation-duration: 0.6s;
  }

  nav {
    width: 100%;
    box-shadow: 0px 0px 5px 0px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 100;
  }
  .menu-button {
    position: fixed;
    display: block;
    top: 10px;
    left: 10px;
    z-index: 9991;
    font-size: 30px;
  }

  .nav-upper {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
  }

  .location {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .logo {
    width: 50%;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
  }

  .logo img {
    width: 60%;
    margin-bottom: -10px;
  }

  .nav-search {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: 0.1s;
  }

  .input-wrapper-search {
    margin: 0% 3% 3%;
    border: 2px solid;
    padding: 0px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 80%;
  }

  .cart-icon {
    width: 20%;
    text-align: center;
    font-size: 40px;
  }

  span.cart-badge {
    position: absolute;
    right: 8px;
    background: red;
    padding: 2px;
    font-size: 12px;
    width: 16px;
    text-align: center;
    border-radius: 50%;
    height: 16px;
    box-shadow: 0px 0px 5px 0px #000;
    color: #fff;
    font-weight: 700;
  }

  .input-wrapper-search input {
    width: 100%;
    border: 0px solid #fff;
    padding: 2px 4px 0px;
    height: 35px;
    font-size: 17px;
  }

  .input-wrapper-search input[type='text']:focus {
    outline: none;
  }

  .bottom-bar {
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px 0px #ddd;
  }

  .bottom-bar ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 5px 0px;
  }

  .bottom-bar ul li {
    display: block;
    text-align: center;
    width: 15%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 500;
  }

  .bttm-icon {
    font-size: 30px;
    color: #555;
  }

  li.center-item {
    width: 25% !important;
    background: #ffcc00ff;
    padding: 4px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #ddd;
  }

  .thumbs-wrapper.axis-vertical {
    display: none;
    visibility: hidden;
  }

  .carousel.carousel-slider {
    height: 200px;
  }

  .carousel .slide img {
    height: 200px;
    object-fit: cover;
    object-position: center;
  }

  ul.control-dots {
    display: none;
    visibility: hidden;
  }

  .product-bio.legend {
    background: #ffffffe3 !important;
    opacity: 1 !important;
    color: #000 !important;
    font-size: 18px !important;
    bottom: 20px !important;
    border-radius: 4px !important;
    box-shadow: 0px 0px 10px 0px #000000b3;
    text-align: left !important;
  }

  .product-name {
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 500;
  }

  .product-from {
    overflow: hidden;
    white-space: nowrap;
  }

  .product-price {
    background: #ffcc00ff;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    margin: 5px 0px;
    color: #000;
    font-weight: 500;
  }

  .header {
    font-size: 17px;
    color: #002f34;
    text-transform: capitalize;
    font-weight: 600;
    margin: 10px 0px;
  }

  .header span {
    float: right;
    font-weight: 500;
    border-bottom: 2px solid;
    font-size: 14px;
    margin: 0px 5px;
  }

  .catgry-slidr {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 5px 0px 20px;
    flex-wrap: nowrap;
    flex: 0 0 200px;
  }

  .catgry-items {
    margin: 0px 10px 0px 0px;
    text-align: center;
  }

  .catgry-items:hover {
    opacity: 0.5;
  }

  .catgry-items img {
    border-radius: 50%;
    width: 100px;
  }

  .catgry-items .label {
    font-size: 15px;
  }

  .prdct-crd-cntnr {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    flex: 0 0 200px;
  }

  .prdct-crd {
    padding: 10px 5px;
    margin: 5px 10px 20px 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 200px;
    border-radius: 5px;
  }

  .prdct-crd img {
    width: 200px;
    object-fit: cover;
    height: 200px;
  }

  .prdct-crd .product-name {
    font-size: 17px;
    font-weight: 500;
    white-space: break-spaces;
    height: 45px;
    width: 100%;
    line-height: 20px;
  }

  .prdct-crd .product-price {
    top: -25px;
    left: 10px;
  }

  .btn {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 0 16px;
    min-width: max-content;
    height: auto;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    background-color: #ec2617;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(
      --pure-material-font,
      'Roboto',
      'Segoe UI',
      BlinkMacSystemFont,
      system-ui,
      -apple-system
    );
    font-size: 14px;
    font-weight: 500;
    line-height: 2.6;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    margin: 6px 0px 5px;
  }

  .btn::-moz-focus-inner {
    border: none;
  }

  .btn::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
  }

  /* Ripple */
  .btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
  }

  /* Hover, Focus */
  .btn:hover,
  .btn:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .btn:hover::before {
    opacity: 0.08;
  }

  .btn:focus::before {
    opacity: 0.24;
  }

  .btn:hover:focus::before {
    opacity: 0.3;
  }

  /* Active */
  .btn:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .btn:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
  }

  /* Disabled */
  .btn:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
  }

  .btn:disabled::before {
    opacity: 0;
  }

  .btn:disabled::after {
    opacity: 0;
  }

  .dmmy-img {
    width: 200px;
    height: 200px;
    background: #ddd;
  }

  .dmmy {
    background: #ddd;
    margin: 5px 0px;
    width: 100%;
    height: 10px !important;
  }

  .dmy-slider {
    width: 99%;
    height: 200px;
    background: #ddd;
  }

  .box-alert {
    color: white;
    padding: 2%;
    font-size: 18px;
    font-weight: 400;
    position: fixed;
    background-color: rgb(36 36 36);
    border-radius: 4px;
    z-index: 999999;
    left: 25%;
    right: 25%;
    text-align: center;
    animation-name: animate;
    animation-duration: 0.5s;
    bottom: 100px;
  }

  img.product-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .rest-card {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0px;
    padding: 20px 10px;
    box-shadow: 0px 0px 5px 0px #ddd;
    border-radius: 6px;
    background-image: linear-gradient(
        0deg,
        rgb(0 0 0 / 73%),
        rgb(193 143 29 / 54%)
      ),
      url('./static/bryni.jpg');
    color: #fff;
    white-space: break-spaces;
    line-height: 25px;
  }

  .tags-holder {
    font-size: 16px;
    font-weight: 400;
    width: 100%;
  }

  .tags-holder span {
    margin: 0px 5px 0px 0px;
  }

  .product-img-dummy {
    width: 100%;
    height: 300px;
    background: #ddd;
  }

  .product-price-dummy {
    width: 50px;
    height: 20px;
    background: #ec2617;
    display: inline-block;
    padding: 1px 10px;
    border-radius: 4px;
    margin: 5px 0px;
    color: #fff;
  }

  .dummy {
    width: 90%;
    height: 26px;
    background: #ddd;
    border-radius: 4px;
    margin: 10px 0px 0px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .product-container {
    margin-bottom: 140px;
  }

  .product-container .product-price {
    font-size: 25px;
  }

  .product-container .product-name {
    white-space: break-spaces;
    font-size: 18px;
  }

  .qty-group {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  .cart-row {
    display: flex;
    width: 100%;
    margin: 10px 0px;
    border-bottom: 2px solid #e4e4e4;
    padding-bottom: 10px;
  }

  img.cart-item.img {
    width: 20%;
    height: 70px;
    object-fit: cover;
  }

  .cart-item.name {
    margin: 4px 10px;
  }

  .cart-row.dummy-cart {
    background: #ddd;
    height: 70px;
  }

  button.btn.cart-final {
    min-width: 98%;
    position: fixed;
    left: 4px;
    bottom: 70px;
  }

  .cart-empty {
    width: 100%;
    top: 40%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .cart-empty h1 {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    width: 100%;
  }

  .cart-empty i.material-icons {
    font-size: 100px;
    color: #ffffff;
    padding: 20px;
    border-radius: 50%;
    background: #ec2617;
    box-shadow: 0px 2px 5px 0px #00000094;
  }

  .hubs-container {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }

  .hubs-container img {
    width: 100%;
    border-radius: 5px;
    height: auto;
  }

  .hubs-container a {
    flex: 0 0 330px;
    margin: 10px 5px 10px 0px;
    border-radius: 5px;
    height: auto;
  }

  .all-hubs {
    position: relative;
    animation: animatemain;
    animation-duration: 0.3s;
  }

  .all-hubs img {
    width: 100%;
    border-radius: 5px;
  }

  .sidebar-overlay {
    position: fixed;
    background: #000000a6;
    z-index: 999;
    height: 100vh;
    width: 100%;
  }

  .sidebar-content {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #fff;
    z-index: 1000;
    animation: slide;
    animation-duration: 0.2s;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .sidebar {
    display: none;
  }

  .nav-icon i.material-icons {
    font-size: 30px;
    margin-left: 5px;
  }

  .dummy-hub {
    width: 100%;
    height: 133px;
    background: #ddd;
    margin: 5px 0px;
    border-radius: 5px;
  }

  .all-hubs .header {
    background: #ffcc00a8;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    color: #000;
  }

  .hover-menu-content {
    max-width: 60%;
    position: fixed;
    bottom: 140px;
    left: 20%;
    z-index: 99999;
    min-width: 60%;
    display: none;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: display 0.5s;
    border-radius: 4px;
    max-height: 40%;
    overflow-y: scroll;
  }

  .hoverbtn {
    background: #f44336;
    position: fixed;
    bottom: 80px;
    left: 25%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #0000006b;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 50%;
  }

  .sort-rests {
    padding: 30px 0px;
  }

  .hover-menu {
    position: relative;
    display: inline-block;
  }

  .hover-menu-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .hover-menu-content p:hover {
    background-color: #ddd;
  }

  .hover-menu:hover .dropbtn {
    background-color: #3e8e41;
  }

  .overlay {
    height: 100vh;
    width: 100%;
    background: #13121278;
    z-index: 99;
    position: fixed;
    bottom: 0;
    left: 0;
    display: none;
  }

  .restro-header {
    height: 200px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 80px;
  }

  .restro-desc {
    position: absolute;
    padding: 11px 10px;
    width: 65%;
    background: #fff;
    top: 250px;
    left: 22px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #2f2f2f;
  }

  .rest-name {
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0px;
  }

  .rest-cat {
    background: #3f51b5;
    width: max-content;
    padding: 2px 10px;
    border-radius: 4px;
    color: #fff;
    margin: 0px 0px 2px;
  }

  .prdcts-rest {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 10px 0px;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 10px;
  }

  .prdcts-rest img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
  }

  .product-rest-price {
    float: right;
    background: rebeccapurple;
    color: #fff;
    padding: 2px 10px;
    border-radius: 4px;
    height: 25px;
  }

  .product-container p {
    width: 100%;
    overflow: hidden;
  }

  .icon-rest-menu {
    font-size: 15px;
    position: relative;
    top: 1px;
    right: 10px;
  }

  .proce-buttons {
    display: flex;
    column-gap: 20px;
    align-items: center;
  }

  .proce-buttons {
    display: flex;
    column-gap: 20px;
    align-items: center;
    width: 96%;
    justify-content: space-between;
  }

  .proce-buttons .qty-group.btn {
    float: right;
    position: relative;
  }

  .product-rest-info {
    width: -webkit-fill-available;
  }

  .profile-area {
    margin: 10px 5px;
    background: #ffeb3b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-wrap: wrap;
    padding: 20px 0px;
  }

  .profile-icon {
    font-size: 50px;
    padding: 30px;
    background: #f44336;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px #000000db;
    color: #fff;
    text-shadow: 0px 0px 15px #00000082;
  }

  .profile-name {
    width: 100%;
    text-align: center;
    font-size: 19px;
    font-weight: 600;
    margin: 10px 0px;
  }

  .quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .quick-link-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #3f51b5;
    margin: 0px 5px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    width: 33.33%;
  }

  .quick-link-icon {
    font-size: 30px;
    text-shadow: 0px 0px 5px #000000a8;
  }

  .sidebar-links {
    display: grid;
    padding: 0px 10px;
    width: 100%;
  }

  a.silebar-link {
    width: 90%;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px 5px 10px;
  }

  .copyright {
    width: 90%;
    padding: 40px 20px 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }
}
